<footer>

  <ul class="contact-me">
    <li>
      <a href="https://github.com/sudonym221" target="_blank">
        <img src="/github.svg" alt="Github" height="40px" width="40px"></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/deepjyoti-chetia-0511b716a" target="_blank">
        <img src="/linkedin.svg" alt="Linkedin" height="40px" width="40px">
      </a>
    </li>
  </ul>

  Copyright &copy; Deepjyoti Chetia 2020
</footer>