<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deeps blog | <%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <link id="theme" rel="stylesheet" href="/light-theme.css">
</head>