<nav>
    <div class="site-title">
        <a href=""><img id="theme-toggle" src="/dark.svg" height="45px" width="45px" title="Dark mode"></a>
        <!-- <a href="/"><h2>Deepjyoti Chetia</h2></a>  -->
        <!-- <p></p> -->
    </div>

    <ul class="navUl">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/blog/create">New blog</a></li> -->
        <li><a href="/myworks">Work</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
<script src="/theme.js"></script>