<nav>
    <ul class="navUl">
        <li><a href="/">Home</a></li>
        <li><a href="/myworks">Work</a></li>
        <li><a href="/blog">Blog</a></li>
        <a href=""><img id="theme-toggle" src="/dark.svg" height="45px" width="45px" title="Dark/Light mode"></a>
    </ul>
</nav>
<script src="/scripts/theme.js"></script>