<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Hi There</h1>
    <form action="/admin" method="POST">
        <label for="password">Passcode please:</label>
        <input type="password" name="password" required>
        <button type="submit">Submit</button>
    </form>  
</body>
</html>