<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home">
    <p>
      Hi my name is Deepjyoti Chetia and I try to build stuff with some <span class="highlight">JavaScript</span> technologies (for now). 
      I want to learn new technology or understand a new field but due to my shorter attention span and lack of endurance I quit easily :P .
      Clearly Im a newbie at things I do and my projects have lesser security and unavailibilty of "clean code". 
      But I like learning new technologies or concepts and but damn there are so many of them. In my web programming life ( which is 2years or so )
      I used <span class="highlight">nodeJs</span> and <span class="highlight">express</span> framework for back end and 
      <span class="highlight">mongoDB</span> for database. I would happy to build projects and webapps that utilizes <span class="highlight">reactJS</span>, 
      <span class="highlight">SQL</span> etc.

      I am Computer Science gradute. So I have expreiences with standard languages and papers . DBMS would be my favourite of them and Im trying to improve my DSA paper.
      
      I created this website to document my work, provide my Bio and maybe write some blog ! With that said , thank you and welcome to my simple site.
    </p>
    <%- include("./partials/footer.ejs") %>
</body>

<script src="/scripts/highlight.js"></script>

</html>