<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home">
    <p>
      Hi my name is Deepjyoti Chetia and I try to build stuff with some JavaScript technologies (for now). 
      I want to learn new technology or understand a new field but due to my shorter attention span and lack of endurance I quit easily.
      Clearly Im a newbie at things I do and my projects have lesser security and unavailibilty of "clean code". 
      But I like learning new technologies or concepts and but damn there are so many of them. In my web programming life ( which is 2years or so )
      I used nodeJs and express framework for back end and mongodb for database. I would happy to build projects and webapps that utilizes reactjs, SQL etc.

      I am Computer Science gradute. So I have expreiences with standard languages and papers . DBMS would be my favourite of them and Im trying to improve my DSA paper.
      
      I created this website to document my work, provide my Bio and maybe write some blog ! With that said , thank you and welcome to my simple site.
    </p>
    <%- include("./partials/footer.ejs") %>
</body>

</html>