<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home">

    <p>Hi ! this is Deepjyoti Chetia</p>
  <%- include("./partials/footer.ejs") %>
</body>
</html>