<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="home">
    <p>
      Hi ! this is Deepjyoti Chetia
      Culpa duis eiusmod ut dolore. Id exercitation dolore ex amet sint in non non laboris duis. Sit commodo elit
      nostrud laborum. Eu et eiusmod reprehenderit adipisicing ipsum nostrud aliquip aute sint id.

      Minim eu aute quis do dolor officia ipsum nulla exercitation quis incididunt officia culpa. Excepteur incididunt
      nostrud consectetur aute fugiat officia do sint ullamco. Labore consectetur nostrud officia id magna. Duis sunt
      non tempor quis. Mollit magna aliqua ea exercitation irure consequat. Quis sunt ullamco ut id non.

      Irure aliquip cillum qui cillum exercitation fugiat. Lorem fugiat veniam in non ipsum proident enim cupidatat
      ipsum sunt aliqua consectetur. Ullamco anim qui nostrud proident nostrud culpa id.

      Reprehenderit sunt incididunt duis adipisicing eu pariatur. Anim Lorem ad aliqua Lorem esse aute ullamco qui id
      consequat proident reprehenderit. Lorem dolor dolor cupidatat id reprehenderit reprehenderit. Cillum aliquip
      dolore labore commodo aliquip qui in consectetur ad do. Occaecat ad id id consequat Lorem proident. Laborum fugiat
      eu excepteur esse ex commodo veniam officia aliquip cillum incididunt culpa. Mollit reprehenderit laboris ea irure
      aliquip commodo dolor.

      Esse ipsum incididunt exercitation deserunt duis consectetur reprehenderit sunt ea qui. Nostrud et velit deserunt
      aliqua Lorem ad anim qui. Ut officia esse cupidatat sunt occaecat reprehenderit laboris exercitation ut eiusmod
      est fugiat sunt magna. Occaecat culpa proident enim duis mollit exercitation.
    </p>
    <%- include("./partials/footer.ejs") %>
</body>

</html>